# Author: Tobias Oetiker <tobi@oetiker.ch>
# Date: 2006-09-06
# Purpose: Add some Box Graphs for Cisco devices

$head_lines .= <<ECHO;
#---------------------------------------------------------------------
ECHO

# 

my $cpu_oid = oid_pick($router_connect,$v3opt,"1.3.6.1.4.1.9.2.1.58.0","1.3.6.1.4.1.9.9.109.1.1.1.1.3.9");
if ($cpu_oid){
  my $target_name = $router_name . ".cpu";
  my $dir = '';
  $dir = "Directory[$target_name]: $directory_name" if $directory_name;
  $target_lines .= <<ECHO;

$dir
YLegend[$target_name]: CPU use in %
ShortLegend[$target_name]: %
Legend1[$target_name]: CPU use in %
Legend3[$target_name]: Max Observed CPU use
LegendI[$target_name]: &nbsp;CPU use:
WithPeak[$target_name]: ywm
MaxBytes[$target_name]: 100
Options[$target_name]: growright, gauge, nopercent, noo
Title[$target_name]: $sysname CPU usage
Target[$target_name]: $cpu_oid&PseudoZero:$router_connect
PageTop[$target_name]: <h1>$sysname CPU use</h1>
 <div><table>
 <tr><td>System:</td>     <td>$sysname in $html_syslocation</td></tr>
 <tr><td>Maintainer:</td> <td>$html_syscontact</td></tr>
 <tr><td>Description:</td><td>$html_sysdescr</td></tr>
 <tr><td>Resource:</td>   <td>5 Minute Average CPU busy ($cpu_oid)</td></tr>
 </table></div>
ECHO
}

my $mem_oid = oid_pick($router_connect,$v3opt,"1.3.6.1.4.1.9.2.1.8.0","1.3.6.1.4.1.9.9.48.1.1.1.6.1");
if ($mem_oid) {
  my $target_name = $router_name . ".mem";
  my $dir = '';
  $dir = "Directory[$target_name]: $directory_name" if $directory_name;
  $target_lines .= <<ECHO;

$dir
YLegend[$target_name]: Free Memory  
ShortLegend[$target_name]: Bytes  
Legend1[$target_name]: Free Memory  
Legend3[$target_name]: Max Free Memory  
LegendI[$target_name]: &nbsp;Free Memory:  
WithPeak[$target_name]: ywm  
MaxBytes[$target_name]: 10000000000
Options[$target_name]: growright, gauge, nopercent, noo  
Title[$target_name]: $sysname Free Memory  
Target[$target_name]: $mem_oid&PseudoZero:$router_connect                      
PageTop[$target_name]: <h1>$sysname Free Memory</h1>  
 <div><table>
 <tr><td>System:</td>     <td>$sysname in $html_syslocation</td></tr>
 <tr><td>Maintainer:</td> <td>$html_syscontact</td></tr>
 <tr><td>Description:</td><td>$html_sysdescr</td></tr>  
 <tr><td>Resource:</td>   <td>Free CPU Pool Memory ($mem_oid)</td></tr>
 </table></div>
ECHO

}

