@import url(/mrtg/design.css);

body, th, td {
  font-family: sans-serif;
}

#navbar_container a {
  border-style: none;
}

#navbar_container a:hover {
  background-color: inherit;
}

div#header {
    display:none;
}

div#banner {
    position:absolute;
    top: 105px;
    left: 0px;
    width: 100%;
    max-width: 80em; 
    padding-right: 70px;
}

#content_container h1 {
	margin-top: 10px;
	margin-right: 0px;
}

#pagepath {
    font-size: 10px;
}

#pagepath .pathentry {
    float: left;
}

#pagepath *:link, #pagepath *:visited {
    margin: 0 0.2em;
}
