DirectoryIndex index.en.html index.html
ErrorDocument 404 http://oss.oetiker.ch/mrtg/404.en.html
RewriteEngine On
RewriteRule mrtg.html  http://oss.oetiker.ch/mrtg/ [R=301,L]
RewriteRule index.html  http://oss.oetiker.ch/mrtg/ [R=301,L]
RewriteRule reference.html http://oss.oetiker.ch/mrtg/doc/mrtg-reference.en.html [R=301,L]
RewriteRule mrtg-nt-guide.html http://oss.oetiker.ch/mrtg/doc/mrtg-nt-guide.en.html [R=301,L]
RewriteRule cfgmaker.html http://oss.oetiker.ch/mrtg/doc/cfgmaker.en.html [R=301,L] 
RewriteRule unix-guide.html http://oss.oetiker.ch/mrtg/doc/mrtg-unix-guide.en.html [R=301,L] 
RewriteRule mrtg-unix-guide.html http://oss.oetiker.ch/mrtg/doc/mrtg-unix-guide.en.html [R=301,L] 
RewriteRule links.html http://oss.oetiker.ch/mrtg/3party.en.html [R=301,L] 
RewriteRule mrtg-rrd.html  http://oss.oetiker.ch/mrtg/doc/mrtg-rrd.en.html [R=301,L]
RewriteRule users.html http://people.ee.ethz.ch/~oetiker/webtools/mrtg-trac/wiki/MrtgUsers [R=302,L] 
RewriteRule compat.html http://people.ee.ethz.ch/~oetiker/webtools/mrtg-trac/wiki/MrtgCompat [R=302,L]
#RewriteRule pub(/.*) http://people.ee.ethz.ch/~oetiker/webtools/mrtg/pub$1 [R=302,L]
#RewriteRule pub$ http://people.ee.ethz.ch/~oetiker/webtools/mrtg/pub/ [R=302,L]
# for some reason there are odd requests sometimes
RewriteRule http:/([^/].*)  http://$1 [R=301,L]
<FilesMatch ".htaccess">
  Order Allow,Deny
  Allow From All
</FilesMatch>
<FilesMatch "mirror.html">
  SetHandler cgi-script
</FilesMatch>
