#######################################################################
# Multi Router Traffic Grapher -- Configuration File
#######################################################################

# General Configuration ###############################################
#######################################################################

WorkDir: /usr/local/www/data/dept/admin/dld/lin/netcomm/traffic
snmpget: /home/oetiker/bin/snmpget
mibfile: /home/oetiker/etc/mib.txt
ppmtogif: /usr/local/bin/ppmtogif

# Configuration for the CISCO Gateway #################################
#######################################################################

IP[jips]: 146.227.1.248
MaxBytes[jips]: 8000
Title[jips]: Traffic Analysis for DMU's Internet Gateway

Comment[jips]: Our Internet link curently runs over a 64Kb X.25 Link. 
  This gives a maximum throughput of 8 KBytes per Second. 

ifOut[jips]: interfaces.ifTable.ifEntry.ifOutOctets.6
ifIn[jips]: interfaces.ifTable.ifEntry.ifInOctets.6
