body {
	background-color:#FFFFFF;
	padding:10px;
	font-family: sans-serif;
	margin:0px;
	max-width: 80em;
	min-width: 910px;
}

/* hide old stuff */
.legacy {
  display: none
}

#page_header {
	background-image : url('images/mrtg_logo.gif');
	background-repeat : no-repeat;
	background-position: 0px 10px;
	height:71px;
	width:100%;
	font-size: 10pt;
	text-align:right;
	border-bottom:3px solid #fe754d;
	padding-top:25px;
}

#page_header a {
        color:#345d98;
	text-decoration: none;	
}

#main_container {
	width: 100%;
}


.orange_ruller {
height:3px;
font-size:2px;
background-color: #fe754d;
width:100%;
margin:1px 0px;
padding:0px;
clear :both;
}

/*Navbar styles start*/
#navbar_container {
	width: 205px;
}

#menu {
	width:205px;
	vertical-align:top;
	font-size: 10pt;
}

#menu a {
	text-decoration : none;
}
#menu a:hover {
	text-decoration : underline;
}


/*Removing list decoration in navbar*/
div#menu ul {
	padding:0px;
	margin:0px;
}
div#menu li {
	list-style-type:none;
	padding:0px;
	margin:0px;
}

div#menu li > div {
	padding-top: 2px;
}	
div#menu > ul > li > div.selected_head {
	border:1px solid #345d98;
	background-image : url('images/minus.gif');
	background-repeat : no-repeat;
	background-position : 4px 0.4ex;
	background-color : #345d98;
	margin:1px 0px;
}

div#menu > ul > li > div.selected_head > a {
	color : #ffffff;
	font-weight:bold;
}



div#menu > ul > li > div {
	border:1px solid #345d98;
	background-image : url('images/plus.gif');
	background-repeat : no-repeat;
	background-position : 4px 0.4ex;
	background-color : #345d98;
	margin:1px 0px;
	padding-left:17px;
}

div#menu ul > li > div.selected {
	background-image : url('images/arr_black_right.gif'); 
	background-position : 4px 0.5ex;
	background-color :#fe754d;
	color : #345d98;
	font-weight:bold;
}

div#menu > ul > li > div > a {
	color : #ffffff;
	font-weight:bold;
}

div#menu > ul > li > ul > li > div {
	background-color:#ffffff;
	margin:1px 0px;
	border : 1px solid #345d98;
}
div#menu > ul > li > ul > li >  div > a {
	background-color:#ffffff;
	color : #345d98;
	font-weight:bold;
	margin-left:15px;
}


div#menu > ul > li > ul > li > div.selected {
	background-image:url('images/arr_black_right.gif');
	background-repeat: no-repeat;
	background-position: 5px 0.5ex;
	background-color: #fe754d;
	border:1px solid #345d98;	
	padding-left:15px;
	font-weight:bold;
}

div#menu > ul > li > ul > li > div.selected > a {
	color:#FFFFFF;
}


div#menu > ul > li > ul > li > div.selected_head {
	background-image:url('images/arr_black.gif');
	background-repeat : no-repeat;
	background-position : 5px 0.6ex;
	background-color :#fe754d;
	border:1px solid #345d98;
}

div#menu > ul > li > ul > li > div.selected_head > a {
	margin-left:15px;
	color:#FFFFFF; 
        background-color :#fe754d;
	font-weight:bold;
}

div#menu > ul > li > ul > li > ul > li > div {
	background-color:#e4e4e4;
	background-image:url('images/arr_white.gif');
	background-repeat:no-repeat;
	background-position:15px 3px;
	border:1px solid #345d98;
	margin-top:1px;
}
div#menu > ul > li > ul > li > ul > li > div a {
	color : #345d98;
	margin-left:23px;
}

/*Navbar styles end*/

/* Content styles start*/
#content_container {
	vertical-align:top;
	padding-left:20px;		
	line-height: 2.6ex;
}

#content_container h1 {
	background-color:#e4e4e4;
	padding-left:8px;
	padding-top:0.6ex;
	padding-bottom: 0.5ex;
	margin-top: 1px;
	margin-bottom:0.3ex;
	line-height: 2.0ex;

}

#content_container h1,
#content_container h2,
#content_container h3
{
	color:#345d98;
}

#content_container a {
	text-decoration:none;
}

#content_container a[href] {
	color:#345d98;
	font-weight:bold;
	text-decoration:underline;
}

#content_container pre {
	border-style: solid;
	border-width: 1px;
	border-color: #345d98;
	padding: 5px;
}

#content_container dt {
	margin-top: 1ex;
	color:#345d98;
	font-weight:bold;
}

#content_container dt a {
	color:#345d98;
	font-weight:bold;
}

#content_container dd {
	margin-left: 0px;
}

#content_container dd a {
	color:#345d98;
	font-weight:bold;
}

.desc_text {
	font-weight:normal;
	font-size:10pt;
	color : #000000;
}
.orange {
	color:#fe754d;
}
/* Content styles end*/

/* Footer styles start */

#content_container #pageauthor {
	color: black;
	padding-top: 1em;
	padding-bottom: 1em;
	font-size: small;
}

#content_container #pageauthor > a {
	text-decoration: none;
	color: black;
	font-weight:normal;
}

div#googlead_right {
	background-color: #ffffff;
        padding-left: 15px;        
        padding-top: 1px;
        padding-bottom: 10px;
        float: right;
}

div#googlead_firefox {
        padding-top: 20px;
}

#page_footer {
	clear:both;
	/*
	background-image : url('images/foot_logo.jpg');
	background-repeat : no-repeat;
	background-position : 0px 5px;
	*/
	border-top:6px solid #345d98;
	text-align:right;
	height:80px;
	width:100%;
}
.footer_splitter {
	margin-top:2px;
	width:100%;	
}
.footer_splitter
#footer_logo {
	text-align:left;
	vertical-align:middle;
}
#footer_logo img {
	margin-top:2px;
	border:none;
}
.footer_splitter td {
	padding:0px;
	margin:0px;
	vertical-align:middle;
	text-align:right;
}
#page_footer,
#page_footer a {
	color:black;
	font-weight:normal;
        font-size: 10pt;
	text-decoration:none;
}


/*Footer styles end*/
